/*폰트*/
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
/*font-family: 'Shadows Into Light', cursive;*/

html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,del, dfn, em, img, ins, kbd, q, samp,small, strong, sub, sup, var,b, i,
dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary,time, mark, audio, video 
{ margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
#wrap{
    min-width: 800px; 
    max-width: 1920px; 
    margin-left: auto;
    margin-right: auto;
    font-family: 'Noto Sans KR', sans-serif;
}
body{position:relative;overflow-x:hidden;background-color:#155ba0;} 
.clear{clear: both;}
a{text-decoration:none}
ul{list-style-type:none}
/*타이틀*/
.title{font-family: 'Shadows Into Light', cursive;font-size:70px;color:#f6de24;text-transform:uppercase;}
.title-center{text-align:center;margin-bottom: 70px;}
.title-rotate{position:absolute; transform:rotateZ(-90deg);width:200px;top:180px;}
/*----------------------------------------------------------------nav*/
#nav{position:fixed;z-index: 9001;right:50px;top:50%;transform:translateY(-50%); width:150px;height:370px;}
#nav ul{float:right;}
#nav ul li{float:right;width:130px;height:40px;margin:0px;background:transparent;line-height:40px;text-align:right;} 

.nav-link{margin-right:10px;}
#nav li a::after{content:"•";color:#000; opacity:0.5;}

#nav li a:link{color: #fff;} 
#nav li a:visited{color:#fff;}
#nav li:active{background-color:#f6de24;}
#nav li:hover{background-color:#f6de24;
    transition:all 200ms ease-in-out;
    -webkit-transition:all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -ms-transitionall: all 200ms ease-in-out}
#nav li:hover a{color:#155ba0;font-weight:bold;}
#nav li:hover a:after{font-weight:bold;opacity:1;}
/*----------------------------------------------------------------main*/
#main{position:relative;overflow:hidden; width:100%;height:1000px;}
#main-title{position:absolute;top:15%;left:50%;transform:translateX(-50%);}
#main video{position: absolute;top :-31px; left :0;min-width : 100%;min-height : 100%;width :auto;height :120%;z-index : -1;}

/* .rotate{position:absolute;background-color: #155ba0;height:300px;width: 3000px;top:890px;z-index: 9000;}
#rotatedeg{transform: rotateZ(12deg);margin-left: -1050px;}
#rotate-deg{transform: rotateZ(-12deg);margin-left: -50px;} */
#main-yellow{width:100%; height:300px; background-image: url('../img/gall/9.PNG');background-attachment: fixed;background-repeat:no-repeat;background-size:100%}
#main-yellow p{width:100%;height:300px; background-color:rgba(246, 222, 34, 0.5);text-align:center;font-size:25px;font-weight:bold;padding-top:50px;}

#peach{position:absolute;transform:rotateZ(50deg);right:-50px;top:2800px;z-index:9000;}
#peach2{position:absolute;z-index:9000;top:1500px;}
/*----------------------------------------------------------------synopsis*/
#synopsis{width: 100%;height:100%;margin-bottom:300px;padding-top:150px;padding-bottom:50px;background-color: #155ba0;}

#synopsis-contain{width: 620px;margin-left:900px}
#synopsis p {font-size:18px;color:#fff;line-height:25px;}
/*----------------------------------------------------------------cast*/
#cast{width:100%;height:100%;margin:auto;margin-bottom:300px;}
#cast .title{margin-left:200px;}

.cast-bax{width:22%;
    transition:width 300ms ease-in-out;
    -webkit-transition:width 300ms ease-in-out;
    -moz-transition:width 300ms ease-in-out;
    -o-transition:width 300ms ease-in-out;
    -ms-transition:width 300ms ease-in-out}

#cast li{display:inline-block;overflow: hidden; height:600px;margin:auto;}
#cast li:hover{width:34%;
    transition:width 300ms ease-in-out;
    -webkit-transition:width 300ms ease-in-out;
    -moz-transition:width 300ms ease-in-out;
    -o-transition:width 300ms ease-in-out;
    -ms-transition:width 300ms ease-in-out}

/*----------------------------------------------------------------view*/
#VIEW{position: relative;width: 100%;height: 100%;margin-bottom:450px;background-color: #155ba0;}
#VIEW .title-rotate{right:0;top:250px;}


#tab{position: relative;width: 1300px;margin: auto;}
.tab-menu{margin:0;margin-top:50px}
.tab-menu ul{position:absolute;top:50%;transform:translateY(-50%);right:200px;}
.tab-menu li{ width:200px;height:70px;margin:0;font-size: 30px;}
.tab-menu li a.selected{color:#f6de24;border-bottom: 2px solid #f6de24;cursor:default}
.tab-menu li a{color: #fff;}
.tab-menu li a:hover{
    color: #f6de24;/*호버이미지 넣기*/
    transition:color 200ms ease-in-out;
    -webkit-transition:color 200ms ease-in-out;
    -moz-transition:color 200ms ease-in-out;
    -o-transition:color 200ms ease-in-out;
    -ms-transition:color 200ms ease-in-out}

.tab-container{overflow:hidden;width:720px;height:480px;margin:0;margin-top:100px;box-shadow:8px 8px 0px rgba(246, 222, 36, 0.8)}
.tab-container .tab-content{display:none;height:500px;}
.tab-container .tab-content.selected{display:block} 



.gallery{position:relative; width:1280px;height:720px;margin: auto;margin-top:300px;}
.gallery .view{overflow:hidden;position:relative;width:100%;height:100%}
.gallery .view .view-container{position:absolute;top:0;left:0;width:100%;height:100%}
.gallery .view-container::after{content:"";display:block;position:relative;clear:both}
.gallery .view-container .view-item{overflow: hidden; float:left;width:100%;height:100%}
.gallery .view-item img{display:inline-block;width:1280px; height:720px; vertical-align:top; object-fit: cover} 

.list-wrap{width:100%; margin-top:50px;}
.list{width:1280px; margin-right: auto; margin-left: auto;}
.list li{display:inline-block;width:14%;padding-right:10px;padding-left:10px;vertical-align:top;box-sizing:border-box}
.list li a{display:block;position:relative;width:100%;cursor:pointer}
.list li a img{display:inline-block;width:100%;vertical-align:top}
.list li a::before{content:"";display:block;position:absolute;top:0;left:0;width:100%;height:100%;box-sizing:border-box;}
.list li.selected a{cursor:default}
.list li a:hover::before,.list li.selected a::before{background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition:background-color 120ms ease-in-out;
  -moz-transition:background-color 120ms ease-in-out;
  -o-transition:background-color 120ms ease-in-out;
  -ms-transition:background-color 120ms ease-in-out;
  transition:background-color 120ms ease-in-out}


.paddle-nav{position:absolute;top:-100px;width: 100%;}
.paddle-nav li{position: absolute;top:0; width: 40px; height: 100vh;}
.paddle-nav li.arrow.prev{left: -100px;}
.paddle-nav li.arrow.next{right: -100px;}
.paddle-nav li.arrow button{overflow: hidden; 
    position: absolute;
    top:50%; left: 50%;
    padding: 0;
    width: 60px; height: 60px; background-color:transparent; border: 1px solid #fff; 
    border-radius: 50%; text-indent: -10000px; box-sizing: border-box;
    transform: translateX(-50%) translateY(-50%);}

.paddle-nav li.arrow button::before{
    content: "";
    display: block;
    position: absolute;
    padding: 6px;
    top:50%;
    left: 50%;
    background-color: transparent;
    border-right: 2px solid #fff;
    border-bottom:2px solid #fff;
    border-right: 2px solid #fff; /*이친구로 화살표 사이즈 조절*/
    cursor: pointer;
}


.paddle-nav li.arrow.prev button::before{margin-left: 3px;transform: translateX(-50%) translateY(-50%) rotate(130deg) /*각도*/}
.paddle-nav li.arrow.next button::before{margin-left: -3px; /*화살표의 위치를 중간으로 맞추는거*/transform: translateX(-50%) translateY(-50%) rotate(-45deg)}

/*----------------------------------------------------------------music*/
#music{position:relative;width: 100%;height:100%;background-color: #fff;}

.sound-menu{width:300px;margin:0;}
.sound-menu ul{position:absolute;top:30%;left:50%;transform:translateX(-50%);}
.sound-menu li{float:left; width:300px;height:50px;margin:0;font-size:25px;text-align:center;text-transform:uppercase;}
.sound-menu li a.selected{
    color:#f6de24;
    font-weight:bold;
    border-bottom: 2px solid #f6de24;
    cursor:default}
.sound-menu li a{color: #fff;}
.sound-menu li a:hover{
    color: #f6de24;
    transition:color 200ms ease-in-out;
    -webkit-transition:color 200ms ease-in-out;
    -moz-transition:color 200ms ease-in-out;
    -o-transition:color 200ms ease-in-out;
    -ms-transition:color 200ms ease-in-out;
}

.sound-container{
    overflow: hidden;
    width:100%;
    margin:0;}

.sound-container .sound-content{
    display:none;
    height:500px; }

.sound-container .sound-content.selected{display:block} 
.audio-play{position:absolute;top:280px;left:50%;transform:translateX(-50%);}
/*----------------------------------------------------------------revieew*/
#review{width: 100%;height:100%;margin-bottom:300px;background-color:#155ba0;}

/*----------------------------------------------------------------footer*/
#footer{position:relative; width: 100%;height: 100%;background-color: #155ba0;}


#top{position:absolute;width:200px;height:200px;text-align:center;background-color:#155ba0;border-radius:50%;top:-190px;left:50%;transform:translateX(-50%)}
#footer-top{ text-transform:uppercase;font-size:20px;line-height:90px;}
#footer-top a{color:#fff;}



#footer-sns{width:225px;margin:auto;margin-top:120px;margin-bottom:20px;}
#footer-sns img{width:30px;height:30px;margin:20px;opacity:0.7;}
#footer-sns img:hover{opacity:1;
    transition:opacity 200ms ease-in-out;
    -webkit-transition:opacity 200ms ease-in-out;
    -moz-transition:opacity 200ms ease-in-out;
    -o-transition:opacity 200ms ease-in-out;
    -ms-transition:opacity 200ms ease-in-out;}

#footer-menu ul{width:390px;height:100px;margin-left:auto;margin-right:auto;}
#footer-menu li{float:left;margin-right:20px;text-align:center;}
#footer-menu li a{color:#fff;}
#footer-menu li a:hover{color:#f6de24}


#copy p{width:100%;height:100%;margin-bottom:50px; text-align:center;font-size:12px;color: #fff}