@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');

/*font-class*/
.noto300{font-family: 'Noto Sans KR', sans-serif;font-weight:300;}
.noto400{font-family: 'Noto Sans KR', sans-serif;font-weight:400;}
.noto500{font-family: 'Noto Sans KR', sans-serif;font-weight:500;}


/*hover*/
.outhover{
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;/*크롬(구글), 사파리*/
    -moz-transition: all 300ms ease-in-out;/*파이어폭스*/
    -o-transition: all 300ms ease-in-out;/*오페라*/
    -ms-transition:all 300ms ease-in-out;}/*인익*/


body{background-color:#96DDE3;}

/*공동 class*/
.clear{clear:both;height:0px;overflow:hidden;margin: 0px;}
.content_img img{object-fit:cover;}
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#wrap{width:100%;height:100vh;position:relative;font-size:17px;color:#333;}
.st{fill:transparent;stroke:#DFF4A6; stroke-width:9px;stroke-linecap:round;
    stroke-dasharray:1000px;stroke-dashoffset:1000px;}
    /*location*/
.location{fill:#DFF4A6;opacity:0;}
.location_dot{fill:#C1DA87;}



h1{font-family: 'Noto Sans KR', sans-serif;font-weight:500;}
a{text-decoration:none;}
a:link{color:#333;}
a:visited{color:#333;}
a:active{color:#333;}

@media(min-width:320px) and (max-width: 767px){
.jejuline{display:none;}
#back{display:none;}

#svg{transform:translate(30%, 50%)scale(1.8);}
#jeju-img{width:100%;height:100vh;position:absolute;top:0;left:0;object-fit:cover;z-index:-2;}
/* #contentBox{display:none;} */
#contentBox{width:100%;height:370px;position:absolute;bottom:0%;right:0;background-color:#f9fcff;overflow:auto; z-index:1;}
#contentBox li{width:100%;position:absolute;top:0;}

.place{width:95%;height:100px;margin:5px auto 0 auto;border:solid 2px #e4e6e9; border-radius:15px;background-color:#f9fcff;}
.content_img{width:40%;height:104px;margin:-2px;border-radius:15px 0 0 15px;overflow:hidden;float:left;}
.content_img img{object-fit:cover;width:100%;height:104px;}
.content_text{width:50%;height:100px;margin-left:10px;float:left;}
.content_text h1{font-size:18px;margin-top:10px;}
.content_text p{margin-top:5px;font-size:13px;line-height:15px;}
#scrollani{display:none;}
}


@media(min-width: 768px) and (max-width: 1024px){
.jejuline{display:none;}
#back{display:none;}

#svg{transform:translate(24%, 28%)scale(1.5);}
#jeju-img{width:100%;height:100vh;position:absolute;top:0;left:0;object-fit:cover;z-index:-2;}
#contentBox{width:100%;height:400px;position:absolute;bottom:0;right:0;background-color:#f9fcff;overflow-y:auto;z-index:1;}
#contentBox li{width:100%;position:absolute;top:0;}

.place{width:95%;height:120px; margin:5px auto 0 auto;border:solid 2px #e4e6e9; border-radius:30px;background-color:#f9fcff;}
.content_img{width:20%;height:124px;margin:-2px;border-radius:30px 0 0 30px;overflow:hidden;float:left;}
.content_img img{object-fit:cover;width:100%;height:124px;}
.content_text{width:50%;height:120px;margin-left:10px;float:left;}
.content_text h1{font-size:25px;margin-top:10px;}
.content_text p{margin-top:5px;line-height:20px;}
#scrollani{display:none;}
}

@media (min-width:1025px){
html{overflow-x:hidden;}
body{overflow-y:hidden;overflow-x:hidden;}
.jejuline{fill:transparent;stroke:#fff; stroke-width:3px;stroke-dasharray:1000;
    stroke-dashoffset: 1000;position:absolute;
    animation: load 4s linear alternate infinite;}
    @keyframes load {
        0%{stroke-dashoffset: 1000;}
        100%{stroke-dashoffset: 0;}}
#back{fill:#96DDE3;width:100%;height:100vh;}

#jeju-img{width:100%;height:100vh;position:absolute;top:0;left:0;object-fit:cover;z-index:-2;}
#contentBox{width:25%;height:100vh;position:absolute;top:0;right:0;background-color:#f9fcff;z-index:-1;}
#contentBox li{width:100%;position:absolute;top:0;margin-top:20px;}

.place{width:95%;height:200px;margin:5px auto 0 auto;border:solid 2px #e4e6e9;overflow:hidden;border-radius:30px;background-color:#f9fcff;}
.content_img{width:40%;height:204px;margin:-2px;border-radius:30px 0 0 30px;overflow:hidden;float:left;}
.content_text{width:50%;height:200px;margin-left:10px;float:left;}
.content_text h1{font-size:22px;margin-top:10px;}
.content_text p{margin-top:7px;line-height:20px;}

#scrollani p{margin: 60px 0 0 -7px;color:#fff;font-size:20px;text-align:center;}
#scrollani{position:absolute;top:65%;left:50%;transform:translate(-50%, -50%);width:30px;height:50px;border:2px solid #fff;border-radius:30px;}
#scrollani span{position:absolute;top:10px;left:50%;content:'';width:6px;height:6px;margin-left:-3px;background-color:#fff;border-radius: 100%;
    -webkit-animation: sdb 2s infinite;animation: sdb 2s infinite;box-sizing:border-box;}
    @-webkit-keyframes sdb {
        0% {-webkit-transform: translate(0, 0);opacity: 0;}
        40% {opacity: 1;}
        80% {-webkit-transform: translate(0, 20px);opacity:0;}
        100% {opacity: 0;}}
      @keyframes sdb {
        0% {transform: translate(0, 0);opacity: 0;}
        40% {opacity: 1;}
        80% {transform: translate(0, 20px);opacity: 0;}
        100% {opacity: 0;}}
    }