@font-face {font-family: "yoon740";src: url('../font/yoon700/YoonGothicPro740.ttf');}
@font-face {font-family: "yoon770";src: url("../font/yoon700/YoonGothicPro770.ttf");}
@font-face {font-family: "yoon780";src: url("../font/yoon700/YoonGothicPro780.ttf");}

body{font-family: 'yoon740', sans-serif;overflow-x: hidden;}
#gri{position: absolute;top:0;z-index: 999;width:100%;height:2 00%;}

.Remeet_R{font-family:'yoon740', sans-serif;font-size:20.68px;letter-spacing:0px;line-height:40px;}
.Remeet_B{font-family:'yoon770', sans-serif;font-size:20.68px;letter-spacing:0px;line-height:40px;}
.Remeet_EXB{font-family:'yoon780', sans-serif;font-size:20.68px;letter-spacing:0px;line-height:40px;}
.Remeet_title{font-family:'yoon780', sans-serif;font-size:27.45px;margin-left:8.5%;padding-top:8%;}

.hideme{opacity:0;}
.hide_Abright{opacity:0;margin-right:-10%;}
.hide_up{opacity:0;margin-top:100px;}

/*--------main*/
#main_bg{width:100%;height:1080px;background-image: url('../img/bcak.png');background-attachment: fixed; background-repeat:no-repeat;margin-left:auto;margin-right:auto;} 
#main{position:relative;width:1920px;height:1000px;margin-left:auto;margin-right:auto;}


#main_text{position:absolute;top:50%;transform:translateY(-50%);margin-left:8%;}
#main_title{font-size:85.7px;font-family:'yoon780', sans-serif;line-height:130px;letter-spacing:0;color:#fff;}
#main_service{font-size:25px;font-family:'yoon740', sans-serif;color:#fff;}
#main_name{font-size:25px;font-family:'yoon780', sans-serif;color:#fff;}

#main_img{position:absolute;top:50%;transform:translateY(-50%);right:5%;margin-right:0%;opacity:0;}
#main_img img{width:90%;}



/*--------overview*/
#overview_bg{width:100%;height:800px;margin-top:200px;}
#overview{position:relative;width:1920px;height:800px;margin-left:auto;margin-right:auto;}

#overview_text{position:absolute;top:50%;transform:translateY(-50%);margin-left:8.5%;}
.MarginBottom30{margin-bottom:30px;}

#overview_img{position:absolute;top:45%;transform:translateY(-50%);right:0px;margin-right:13%;}




/*--------background*/
#background_bg{ width:100%;height:1420px;margin-top:0px;}
#background{position: relative; width:1920px;height:1020px;margin-left:auto;margin-right:auto;}

#background_text{width:1920px;height:80px;margin-top:80px;margin-left:auto;margin-right:auto;}
#background_back{position:absolute;margin-left:8.5%;}
#background_source{position:absolute;color:#ededed;right:0;margin-right:13%;}

/*그래프 아래 텍스트*/
#background_text02{position:relative;width:1920px;height:500px;margin-top:80px;margin-left:8.5%;}
#background_text02_back02{margin-top: 80px;}
#background_text02_back03{margin-top: 40px;}
#background_img{position: absolute;right:0;top:0;margin-right:17%;}

/*그래프*/
#background_gragh{position:relative;width:1920px;margin-left:auto;margin-right:auto;}
#background_gragh table{ margin-left:8.5%;margin-top:20px;}

.gragh_year{font-family:'yoon780', sans-serif;font-size:27.45px;color:#272b3e;width:150px;}
.gragh_percent{width:155px;font-family:'yoon780', sans-serif;font-size:27.45px;color:#d1d1d1;text-align:right;}
#gragh_percent_17{widows:155px;font-family:'yoon780', sans-serif;font-size:27.45px;color:#272b3e;text-align:right;}

.gragh_stick{width:80%;}
#gragh_stick_12{background-color:#d1d1d1;border-radius:25px;width:5%;padding:7px 0 7px 0;margin:70px 0 70px 0;}
#gragh_stick_15{background-color:#d1d1d1;border-radius:25px;width:5%;padding:7px 0 7px 0;margin:70px 0 70px 0;}
#gragh_stick_17{background-color:#ffc029;border-radius:25px;width:5%;padding:7px 0 7px 0;margin:70px 0 70px 0;}

/*그래프 위에 선*/
#gragh_boder_12{position:absolute;top:60px;left:300px;border:solid 3px #272b3e;border-radius:25px;width:60px;padding:5px 0 5px 0;}
#gragh_boder_15{position:absolute;top:230px;left:300px;border:solid 3px #272b3e;border-radius:25px;width:60px;padding:5px 0 5px 0;}
#gragh_boder_17{position:absolute;top:400px;left:300px;border:solid 3px #272b3e;border-radius:25px;width:60px;padding:5px 0 5px 0;}


/*togeter*/
#togeter_bg{width:1920px;margin-left:auto;margin-right:auto;background-color:#ffc029;}
#togeter_title{font-family:'yoon780', sans-serif;font-size:27.45px;padding:5% 0 5% 0;color: #fff;margin-top:100px;text-align: center;}

#togeter_00{width:1920px;margin-left:5%;}
#togeter_01{display: inline-block;width: 510px;height:770px;margin-right:80px;text-align:center;opacity:0.7;}
#togeter_01:hover{opacity:1;
    transition: all 400ms ease-in-out;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    -ms-transition:all 400ms ease-in-out;}

#togeter_02{display: inline-block;width:510px;height:770px;margin-right:80px;text-align: center;opacity:0.7;}
#togeter_02:hover{opacity:1;
    transition: all 400ms ease-in-out;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    -ms-transition:all 400ms ease-in-out;}

#togeter_03{display: inline-block;width: 510px;height:770px;text-align: center;opacity:0.7;}
#togeter_03:hover{opacity:1;
    transition: all 400ms ease-in-out;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    -ms-transition:all 400ms ease-in-out;}

.togeter_who{font-size:27.45px;color:#fff;margin-bottom:50px;text-align: center;}
.togeter_need{color:#fff;text-align:center;margin-top:30px;}
.togeter_goal{text-align:center;margin-top:20px;}

.iconOpOut{
    transition: all 400ms ease-in-out;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    -ms-transition:all 400ms ease-in-out;}



/*target*/
#target_bg{width:100%;height:900px;margin-top:100px;}
#target{position: relative; width:1920px;height:1020px;margin-left:auto;margin-right:auto;}

#target_text{margin-top:80px;margin-left:8.5%;margin-bottom:20px;}

#target ul{margin-left:8.5%;}
#target ul li{ text-align:center;border-radius:50%;margin-right:50px; display:inline-block;}

.target_circle{background-color:#ffc029;width:270px;height:270px;margin-left:15px;}
.target_circle p{margin-top: 110px;}
#target_circle_target{background-color:#272b3e;margin-left: 150px;width:380px;height:380px;color:#fff;}
.target_circle_P{padding-top: 50px;}


#target_circle_box{position: relative; width: 1920px;height:500px;}
.target_circle_border{width:270px;height:270px;border:solid 3px #272b3e;border-radius:50%;}
#target_circle_border01{position:absolute;left:8.5%;top:6%;}
#target_circle_border02{position:absolute;left:26%;top:6%;}
#target_circle_border03{position:absolute;left:44%;top:6%;}

#arrow{position:relative; width: 1880px;border-bottom:solid 3px #272b3e;z-index:-1;margin-top:-315px;}
#arrow::before{content:"";display:block;position:absolute;top:-260%;right:-1.5%;width:100px;height:0;margin-top:-12px;margin-right:-3px;display:block;border-top:3px solid #272b3e;transform:rotate(45deg);transform-origin:0 100%}
#arrow::after{content:"";display:block;position:absolute;top:600%;right:-1.6%;width:100px;height:0;margin-top:-12px;margin-right:-3px;display:block;border-top:3px solid #272b3e;transform:rotate(-45deg);transform-origin:0 100%}



/*logo*/
#logo_bg{width:100%;height:1020px;margin-top:50px;}
#logo{position: relative; width:1920px;height:1020px;margin-left:auto;margin-right:auto;}
#logo_text{margin-top:80px;margin-left:8.5%;margin-bottom:20px;}

#logo_img{margin-left:8.5%;margin-right:8.5%;}
.logo_img{margin-right:60px;}
.logo_img03{margin-right:0px;}

#logo_color{font-family:'yoon780', sans-serif;font-size:27.45px;margin-left:8.5%;margin-bottom:50px;padding-top:4%;}
#color{margin-left:8.5%;margin-right:8.5%;text-align:center;color:#fff;}
#color li{float: left;}

.color_text{line-height:30px;}
.color_text h1{font-size:27.45px;font-family:'yoon770', sans-serif;padding-top:30%;}
.color_text p{font-size:17.47px;font-family:'yoon740', sans-serif;text-align:left;margin-left:40%;}
#color_yellow{background-color:#ffc029;width:270px;height:270px;border-radius:50%;z-index:2;}
#color_navy{position:absolute; background-color:#272b3e;width:270px;height:270px;border-radius:50%;z-index:-2;margin-left:200px;}

#icon{position:absolute;top:750px;left:740px;}
#icon_text{font-family:'yoon780', sans-serif;font-size:27.45px;margin-left:3%;margin-bottom:20px;}



/*illust_bg*/
#illust_bg{margin-top:450px; width:100%;height:1300px;margin-left:auto;margin-right:auto;}
#illust{position:relative;width:1920px;height:1050px;text-align:center;background-color:#ffc029;}

#illust_title{font-family:'yoon780',sans-serif;padding-top:110px;font-size:27.45px;}
#illust_text{font-family:'yoon740', sans-serif;font-size:20.68px;line-height:30px;margin-top:40px;}

#illust_phone{position:absolute;top:250px;left:50%;transform:translateX(-50%);}

.illust_ob{position:absolute;}
#illust_ob04{left:150px; top:600px;width:15%;opacity:0;}
#illust_ob09{left:430px; top:800px; width:12%;opacity:0;}
#illust_ob03{right:400px; top:800px; width:12%;opacity:0;}
#illust_ob06{right:100px; top:500px; width:20%;opacity:0;}



/*service_main*/
#service_main_bg{position:relative;width:1920px;height:1200px;margin-top:50px;margin-left:auto;margin-right:auto;}
#service_main_img{margin-left:7%;margin-top:40px;}
#service_main_img img{width:25%;}
#service_main_text{position:absolute;top:800px;right:400px;}




/*petkit*/
#petkit_bg{width:100%;height:1080px;margin-top:50px;background-image: url('../img/bcak_03.png');background-attachment:fixed;background-repeat:no-repeat;text-align:center;margin-left:auto;margin-right:auto;}
.home_title{font-family:'yoon780',sans-serif;padding-top:110px;font-size:27.45px;}
.home_text{font-family:'yoon740', sans-serif;height:100px;font-size:20.68px;line-height:30px;margin-top:40px;margin-bottom:10px;}

.homeBox{margin-left:-550px;}
.homeBox img{width:14%;}


.gallery{position:relative;width:1361px; height:1000px;margin:auto;margin-top:300px;}
.gallery .view{overflow:hidden;position:relative;width:100%;height:100%}
.gallery .view .view-container{position:absolute;top:0;left:0;width:100%;height:100%}
.gallery .view-container::after{content:"";display:block;position:relative;clear:both}
.gallery .view-container .view-item{overflow: hidden; float:left;width:100%;height:100%;}
.gallery .view-item img{display:inline-block; vertical-align:top; object-fit: cover} 

.list-wrap{width:100%; margin-top:50px;}
.list{width:1280px; margin-right: auto; margin-left: auto;}
.list li{display:inline-block;width:30px;height:30px;border-radius:50%;vertical-align:top;box-sizing:border-box}
.list li a{display:block;position:relative;width:100%;cursor:pointer}
.list li a::before{content:"";display:block;position:absolute;top:0;left:0;width:100%;height:100%;box-sizing:border-box;}
.list li.selected a{cursor:default;background-color: rgba(255, 255, 255, 0.5);}
.list li a:hover::before,.list li.selected a::before{background-color: rgba(255, 255, 255, 1);
  -webkit-transition:background-color 120ms ease-in-out;
  -moz-transition:background-color 120ms ease-in-out;
  -o-transition:background-color 120ms ease-in-out;
  -ms-transition:background-color 120ms ease-in-out;
  transition:background-color 120ms ease-in-out}


.paddle-nav{position:absolute;top:100px;width: 100%;}
.paddle-nav li{position: absolute;top:0; width: 40px; height: 100vh;}
.paddle-nav li.arrow.prev{left: -100px;}
.paddle-nav li.arrow.next{right: -100px;}
.paddle-nav li.arrow button{overflow: hidden; 
    position: absolute;
    top:50%; left: 50%;
    padding: 0;
    width: 60px; height: 60px; background-color:transparent; border: 1px solid #fff; 
    border-radius: 50%; text-indent: -10000px; box-sizing: border-box;
    transform: translateX(-50%) translateY(-50%);}

.paddle-nav li.arrow button::before{
    content: "";
    display: block;
    position: absolute;
    padding: 6px;
    top:50%;
    left: 50%;
    background-color: transparent;
    border-right: 2px solid #fff;
    border-bottom:2px solid #fff;
    border-right: 2px solid #fff; /*이친구로 화살표 사이즈 조절*/
    cursor: pointer;
}


.paddle-nav li.arrow.prev button::before{margin-left: 3px;transform: translateX(-50%) translateY(-50%) rotate(130deg) /*각도*/}
.paddle-nav li.arrow.next button::before{margin-left: -3px; /*화살표의 위치를 중간으로 맞추는거*/transform: translateX(-50%) translateY(-50%) rotate(-45deg)}































