@font-face {font-family: "yoon740";src: url('../font/yoon700/YoonGothicPro740.ttf');}
@font-face {font-family: "yoon770";src: url("../font/yoon700/YoonGothicPro770.ttf");}
@font-face {font-family: "yoon780";src: url("../font/yoon700/YoonGothicPro780.ttf");}

body{font-family: 'yoon740', sans-serif;overflow-x: hidden;}
#gri{position: absolute;top:1000px;z-index: 999;width:100%;}

.Remeet_R{font-family:'yoon740', sans-serif;font-size:20.68px;letter-spacing:0px;line-height:30px;}
.Remeet_B{font-family:'yoon770', sans-serif;font-size:20.68px;letter-spacing:0px;line-height:40px;}
.Remeet_EXB{font-family:'yoon780', sans-serif;font-size:20.68px;letter-spacing:0px;line-height:40px;}
.Remeet_title{font-family:'yoon770', sans-serif;font-size:34.89px;margin-left:8.5%;padding-top:8%;}

.hideme{opacity:0;}
.hide_up{opacity:0;margin-top:100px;}
.hide_circle{opacity:0.5;}

/*--------main*/
#main_bg{width:1920px;height:1080px;background-image: url('../img/bcak.png');background-attachment: fixed; background-repeat:no-repeat;margin-left:auto;margin-right:auto;} 
#main{position:relative;width:1920px;height:1000px;margin-left:auto;margin-right:auto;}


#main_text{position:absolute;top:40%;transform:translateY(-50%);margin-left:8%;}
#main_title{font-size:85.7px;font-family:'yoon780', sans-serif;line-height:130px;letter-spacing:0;color:#fff;}
#main_service{font-size:25px;font-family:'yoon740', sans-serif;color:#fff;}
#main_name{font-size:25px;font-family:'yoon780', sans-serif;color:#fff;}

#main_img{position:absolute;top:50%;transform:translateY(-50%);right:5%;margin-right:0%;opacity:0;}
#main_img img{width:90%;}

#button{position:absolute;top:750px;left:153px;}
input[type="text"] { border: solid 2px #D2691E; }
.button_css{width:200px;height:60px;color:#fff; background-color:rgba(0, 0, 0, 0);border-radius:30px;border:solid 1px #fff}

#video{margin-left:40px;}
#video:hover{background-color:#ffc029;border:solid 1px #ffc029;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -ms-transition:all 300ms ease-in-out;}
#type:hover{background-color:#ffc029;border:solid 1px #ffc029;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -ms-transition:all 300ms ease-in-out;}

/*--------overview*/
#overview_bg{width:100%;height:700px;margin-top:200px;}
#overview{position:relative;width:1920px;height:800px;margin-left:auto;margin-right:auto;}

#overview_text{position:absolute;top:50%;transform:translateY(-50%);margin-left:8.5%;}
.MarginBottom30{margin-bottom:30px;}

#overview_img{position:absolute;top:45%;transform:translateY(-50%);right:0px;margin-right:10%;opacity:0;}




/*--------background*/
#background_bg{ width:100%;height:1620px;margin-top:0px;}
#background{position: relative; width:1920px;height:1020px;margin-left:auto;margin-right:auto;}

#background_text{width:1920px;height:80px;margin-top:80px;margin-left:auto;margin-right:auto;}
#background_back{position:absolute;margin-left:8.5%;}
#background_source{position:absolute;color:#ededed;right:0;margin-right:13%;}

/*그래프 아래 텍스트*/
#background_text02{position:relative;width:1920px;height:500px;margin-top:80px;margin-left:8.5%;}
#background_text02_back02{margin-top: 80px;}
#background_text02_back03{margin-top: 40px;}
#background_img{position: absolute;right:0;top:0;margin-right:14%;opacity:0;}

/*그래프*/
#background_gragh{position:relative;width:1920px;margin-left:auto;margin-right:auto;}
#background_gragh table{ margin-left:8.5%;margin-top:20px;}

.gragh_year{font-family:'yoon770', sans-serif;font-size:34.89px;color:#272b3e;width:150px;}
.gragh_percent{width:155px;font-family:'yoon770', sans-serif;font-size:34.89px;color:#d1d1d1;text-align:right;}
#gragh_percent_17{widows:155px;font-family:'yoon770', sans-serif;font-size:34.89px;color:#272b3e;text-align:right;}

.gragh_stick{width:80%;}
#gragh_stick_12{background-color:#d1d1d1;border-radius:25px;width:5%;padding:7px 0 7px 0;margin:70px 0 70px 0;}
#gragh_stick_15{background-color:#d1d1d1;border-radius:25px;width:5%;padding:7px 0 7px 0;margin:70px 0 70px 0;}
#gragh_stick_17{background-color:#ffc029;border-radius:25px;width:5%;padding:7px 0 7px 0;margin:70px 0 70px 0;}

/*그래프 위에 선*/
#gragh_boder_12{position:absolute;top:60px;left:300px;border:solid 3px #272b3e;border-radius:25px;width:60px;padding:5px 0 5px 0;}
#gragh_boder_15{position:absolute;top:230px;left:300px;border:solid 3px #272b3e;border-radius:25px;width:60px;padding:5px 0 5px 0;}
#gragh_boder_17{position:absolute;top:400px;left:300px;border:solid 3px #272b3e;border-radius:25px;width:60px;padding:5px 0 5px 0;}


/*togeter*/
#togeter_bg{width:1920px;margin-left:auto;margin-right:auto;background-color:#ffc029;}
#togeter_title{font-family:'yoon770', sans-serif;font-size:34.89px;padding:5% 0 5% 0;color: #fff;margin-top:100px;text-align: center;}

#togeter_00{width:1920px;margin-left:5%;}
#togeter_01{display: inline-block;width: 510px;height:770px;margin-right:80px;text-align:center;opacity:0.7;}
#togeter_01:hover{opacity:1;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -ms-transition:all 300ms ease-in-out;}

#togeter_02{display: inline-block;width:510px;height:770px;margin-right:80px;text-align: center;opacity:0.7;}
#togeter_02:hover{opacity:1;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -ms-transition:all 300ms ease-in-out;}

#togeter_03{display: inline-block;width: 510px;height:770px;text-align: center;opacity:0.7;}
#togeter_03:hover{opacity:1;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -ms-transition:all 300ms ease-in-out;}

.togeter_who{font-size:34.89px;color:#fff;margin-bottom:50px;text-align: center;}
.togeter_need{color:#fff;text-align:center;margin-top:30px;}
.togeter_goal{text-align:center;margin-top:20px;}

.iconOpOut{
    transition: all 400ms ease-in-out;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    -ms-transition:all 400ms ease-in-out;}



/*target*/
#target_bg{width:100%;height:900px;margin-top:100px;}
#target{position: relative; width:1920px;height:1020px;margin-left:auto;margin-right:auto;}

#target_text{margin-top:80px;margin-left:8.5%;margin-bottom:20px;}

#target ul{margin-left:8.5%;}
#target ul li{ text-align:center;border-radius:50%;margin-right:50px; display:inline-block;}

.target_circle{background-color:#ffc029;width:270px;height:270px;margin-left:15px;margin-top:50px;}
.target_circle p{margin-top: 110px;}
#target_circle_target{background-color:#272b3e;position:absolute;top:-70px;right:170px; width:380px;height:380px;color:#fff;margin-left:15px;margin-top:50px;opacity: 0;}
.target_circle_P{padding-top: 50px;margin-top: 110px;}


#target_circle_box{position: relative; width: 1920px;height:500px;}
.target_circle_border{width:270px;height:270px;border:solid 3px#272b3e;border-radius:50%;}
.target_circle_border p{text-align:center;padding-top:100px;}
#target_circle_border01{position:absolute;left:8.5%;top:6%;opacity: 0;}
#target_circle_border02{position:absolute;left:26%;top:6%;opacity: 0;}
#target_circle_border03{position:absolute;left:44%;top:6%;opacity: 0;}

#target_circle_01{opacity: 0;}
#target_circle_02{opacity: 0;}
#target_circle_03{opacity: 0;}

#arrow_box{position:relative;width:1920px;height:100px;z-index:-10;}
#arrow{width:0px;height:3px;background-color:#272b3e;margin-top:-335px;}
#arrow_af{position:absolute;content:"";width:100px;height:3px;background-color:#272b3e;transform:rotate(45deg);margin-top:-37px;left:-84px;}
#arrow_be{position:absolute;content:"";width:100px;height:3px;background-color:#272b3e;transform:rotate(-45deg);margin-top:30px;left:-84px;}


/*logo*/
#logo_bg{width:100%;height:1020px;margin-top:50px;}
#logo{position: relative; width:1920px;height:1020px;margin-left:auto;margin-right:auto;}
#logo_text{margin-top:80px;margin-left:8.5%;margin-bottom:50px;}

#logo_img{margin-left:8.5%;margin-right:8.5%;}
.logo_img{margin-right:60px;}
.logo_img03{margin-right:0px;}

#logo_color{font-family:'yoon770', sans-serif;font-size:34.89px;margin-left:8.5%;margin-bottom:50px;padding-top:4%;}
#color{margin-left:8.5%;margin-right:8.5%;text-align:center;color:#fff;}
#color li{float: left;}

.color_text{line-height:30px;}
.color_text h1{font-size:27.45px;font-family:'yoon770', sans-serif;padding-top:30%;}
.color_text p{font-size:17.47px;font-family:'yoon740', sans-serif;text-align:left;margin-left:40%;}
#color_yellow{background-color:#ffc029;width:270px;height:270px;border-radius:50%;z-index:2;}
#color_navy{position:absolute; background-color:#272b3e;width:270px;height:270px;border-radius:50%;z-index:-2;margin-left:200px;}

#icon{position:absolute;top:750px;left:740px;}
#icon_text{font-family:'yoon770', sans-serif;font-size:34.89px;margin-left:3%;margin-bottom:20px;}



/*illust_bg*/
#illust_bg{margin-top:450px; width:1920px;height:1300px;margin-left:auto;margin-right:auto;}
#illust{position:relative;width:1920px;height:1050px;text-align:center;background-color:#ffc029;}

#illust_title{font-family:'yoon770',sans-serif;padding-top:110px;font-size:34.89px;}
#illust_text{font-family:'yoon740', sans-serif;font-size:20.68px;line-height:30px;margin-top:40px;}

#illust_phone{position:absolute;top:250px;left:50%;transform:translateX(-50%);}

.illust_ob{position:absolute;}
#illust_ob04{left:150px; top:600px;width:15%;opacity:0;}


#illust_ob09{left:430px; top:800px; width:12%;opacity:0;}
#illust_ob03{right:400px; top:800px; width:12%;opacity:0;}
#illust_ob06{right:100px; top:500px; width:20%;opacity:0;}



/*service_main*/
#service_main_bg{position:relative;width:1920px;height:1000px;margin-top:50px;margin-left:auto;margin-right:auto;}
#service_main img{padding-left:50px;opacity:0;}
#service_main_img{margin-left:8.5%;margin-top:60px;}
#service_main_img img{width:21%;margin-right:80px;}

#service_main_text{position:absolute;top:800px;right:400px;}
#illust_cat{position:absolute; top:250px;right:300px;}



/*petkit*/
#petkit_bg{width:1920px;height:1080px;background-image: url('../img/bcak_03.png');background-attachment:fixed;background-repeat:no-repeat;text-align:center;margin-left:auto;margin-right:auto;}
.home_title{font-family:'yoon770',sans-serif;padding-top:110px;font-size:34.89px;}
.home_text{font-family:'yoon740', sans-serif;height:100px;font-size:20.68px;line-height:30px;margin-top:40px;margin-bottom:10px;}

.homeBox{margin-left:-550px;}
.homeBox img{width:14%;}


.gallery{position:relative;width:1361px; height:1000px;margin:auto;margin-top:300px;}
.gallery .view{overflow:hidden;position:relative;width:100%;height:100%}
.gallery .view .view-container{position:absolute;top:0;left:0;width:100%;height:100%}
.gallery .view-container::after{content:"";display:block;position:relative;clear:both}
.gallery .view-container .view-item{overflow: hidden; float:left;width:100%;height:100%;}
.gallery .view-item img{display:inline-block; vertical-align:top; object-fit: cover} 

.list-wrap{width:100%; margin-top:50px;}
.list{width:1280px; margin-right: auto; margin-left: auto;}
.list li{display:inline-block;width:30px;height:30px;border-radius:50%;vertical-align:top;box-sizing:border-box}
.list li a{display:block;position:relative;width:100%;cursor:pointer}
.list li a::before{content:"";display:block;position:absolute;top:0;left:0;width:100%;height:100%;box-sizing:border-box;}
.list li.selected a{cursor:default;background-color: rgba(255, 255, 255, 0.5);}
.list li a:hover::before,.list li.selected a::before{background-color: rgba(255, 255, 255, 1);
  -webkit-transition:background-color 120ms ease-in-out;
  -moz-transition:background-color 120ms ease-in-out;
  -o-transition:background-color 120ms ease-in-out;
  -ms-transition:background-color 120ms ease-in-out;
  transition:background-color 120ms ease-in-out}


.paddle-nav{position:absolute;top:100px;width: 100%;}
.paddle-nav li{position: absolute;top:0; width: 40px; height: 100vh;}
.paddle-nav li.arrow.prev{left: -100px;}
.paddle-nav li.arrow.next{right: -100px;}
.paddle-nav li.arrow button{overflow: hidden; 
    position: absolute;
    top:50%; left: 50%;
    padding: 0;
    width: 60px; height: 60px; background-color:transparent; border: 1px solid #fff; 
    border-radius: 50%; text-indent: -10000px; box-sizing: border-box;
    transform: translateX(-50%) translateY(-50%);}

.paddle-nav li.arrow button::before{
    content: "";
    display: block;
    position: absolute;
    padding: 6px;
    top:50%;
    left: 50%;
    background-color: transparent;
    border-right: 2px solid #fff;
    border-bottom:2px solid #fff;
    border-right: 2px solid #fff; /*이친구로 화살표 사이즈 조절*/
    cursor: pointer;
}


.paddle-nav li.arrow.prev button::before{margin-left: 3px;transform: translateX(-50%) translateY(-50%) rotate(130deg) /*각도*/}
.paddle-nav li.arrow.next button::before{margin-left: -3px; /*화살표의 위치를 중간으로 맞추는거*/transform: translateX(-50%) translateY(-50%) rotate(-45deg)}



/*guidebook*/
#js_found{width:300px;height:300px;position:absolute;top: 30%;}
#guidebook_bg{width:1920px;height:1100px;margin-top:150px;margin-left:auto;margin-right:auto;}
#guidebook{position:relative; width:1920px;height:100%;margin-left:auto;margin-right:auto;}

.guidebook_title{font-family:'yoon770', sans-serif;font-size:34.89px;margin-left:37%;padding-top:5%}
#guidebook_text{margin-left:37%;padding-top:2%}
#guide_img{position:absolute;width:25%;top:-270px;left:7%;}

#guide_phone{width:100%;position:relative;margin-left:19%;margin-top:50px;}

#guide_phone_view00{width:20%;position:absolute;top:0;left:-30px;z-index:5;opacity:0;}
#guide_phone_view01{width:16%;position:absolute;top:50px;left:70px;z-index:4;opacity:0;}
#guide_phone_view02{width:16%;position:absolute;top:50px;left:70px;z-index:3;opacity:0;}
#guide_phone_view03{width:16%;position:absolute;top:50px;left:70px;z-index:2;opacity:0;}



/*bye*/
#bye_bg{position:relative;width:1920px;height:1780px;margin-left:auto;margin-right:auto;}
#byebye_bg{position:absolute;width:1920px;height:706px;z-index:-1;background-color:#ffc029;}
#bye_view{position:absolute; left:164px;top:350px;opacity:0;}
#bye_view img{width:90%;}

#bye_view_text{position:absolute; left:164px;top:1250px;}
#bye_view_text02{margin-top:70px;}

#bye_img{position:absolute;top:0;right:0;width:50%;}
#comu_img{position:absolute;top:1700px;left:200px;width:20%;}

/*comu*/
#comu_title{position:absolute;left:705px;top:600px;font-family:'yoon770', sans-serif;font-size:34.89px;}
#comu_view01{position:absolute; left:705px;top:780px;opacity:0;}
#comu_view01 img{width:90%;}
#comu_view02{position:absolute;left:1250px;top:1210px;opacity:0;}
#comu_view02 img{width:90%;}

#comu_view_text{position:absolute; left:705px;top:1760px;}



/*memorry*/
#service_memorry_bg{position:relative;width:1920px;height:1000px;margin-top:450px;margin-left:auto;margin-right:auto;}
#service_memorry img{padding-left:50px;}
#service_memorry_img{margin-left:8.5%;margin-top:60px;}
#service_memorry_img img{width:21%;margin-right:80px;opacity:0;}

#service_memorry_text{position:absolute;top:750px;right:400px;}
#service_memorry_text p{margin-bottom: 25px;}

/*letter*/
#letter_bg{width:1920px;height:1080px;margin-top:220px;margin-left:auto;margin-right:auto;}
#letter{margin-top:100px;width:1920px;height:1080px;position:relative;background-image:url('../img/letterback.png');margin-left:auto;margin-right:auto;}

#letter_title{ font-family:'yoon770', sans-serif;font-size:34.89px;padding-top:5%;margin-left:30%;}
#letter_img{position:absolute;left:50%;transform:translateX(-50%);}
.letter_view{width:40%;margin-left:80px;margin-top:20px;opacity:0;}
#letter_text{position:absolute;text-align:center;left:50%;transform:translateX(-50%);bottom:100px;opacity:0;}

.letter_circle{position:absolute;border-radius:50%;border:solid 6px #ffc029;}
#letter_circle_01{top:80px;left:-80px;width:60px;height:60px;
    animation:letter_circle_01 0.6s ease-in Infinite Alternate;}
@keyframes letter_circle_01 {
    0% {top:80px; left:-80px;}
    to {top:85px; left:-80px;}}

#letter_circle_02{top:630px;left:-50px;width:60px;height:60px;
    animation:letter_circle_02 0.6s ease-in Infinite Alternate;
    animation-delay:1.5s;}
@keyframes letter_circle_02{
    0% {top:635px; left:-50px;}
    to {top:630px; left:-50px;}}

#letter_circle_03{top:200px;right:-60px;width:60px;height:60px;
    animation:letter_circle_03 0.6s ease-in Infinite Alternate;
    animation-delay:0.7s;}
@keyframes letter_circle_03{
    0% {top:205px; right:-60px;}
    to {top:200px; right:-65px;}}

#letter_circle_04{top:800px;right:150px;width:60px;height:60px;
    animation:letter_circle_04 0.6s ease-in Infinite Alternate;
    animation-delay:0.9s;}
@keyframes letter_circle_04{
    0% {top:800px; right:150px;}
    to {top:805px; right:150px;}}

#letter_circle_05{top:230px;right:-130px;width:100px;height:100px;
    animation:letter_circle_05 0.6s ease-in Infinite Alternate;}
@keyframes letter_circle_05{
    0% {top:230px; right:-130px;}
    to {top:235px; right:-130px;}}

#letter_circle_06{top:580px;left:-100px;width:30px;height:30px;
    animation:letter_circle_06 0.6s ease-in Infinite Alternate;
    animation-delay:0.5s;}
    @keyframes letter_circle_06{
        0% {top:580px; left:-100px;}
        to {top:585px; left:-100px;}}

/*memoryBox*/
#memoryBox_bg{width:1920px;height:1180px;margin-top:300px; background-image:url('../img/bcak_02.png');background-attachment: fixed; background-repeat:no-repeat;margin-left:auto;margin-right:auto;}
#memoryBox-item{position:relative;width:1361px;margin-left:auto;margin-right:auto;text-align:center;}
#memoryBox-item img{width:25%;margin-top:150px;opacity:0;}

#memoryBox_text{opacity: 0;}
#js_found02{position:absolute;width:300px;height:300px;background-color: blue;top:200px;opacity:0;}

/*footer*/
#footer{width:1920px;height:1000px;background-color:#272b3e;padding-top:60px;margin-left:auto;margin-right:auto;}
/* #footer table{border:solid 1px #fff;}
#footer table tr{border:solid 1px #fff;} */
#footer table tr td{width:300px;}

#footer_team{margin-left:auto;margin-right:auto;margin-top:60px;}
.team_pic{width:250px;margin-left:auto;margin-right:auto;}
.team_pic img{width:250px;height:250px;}
.Field{color:#fff;text-align:center;}

.name{color:#fff;text-align:center;height:80px;vertical-align: middle;}
.name_Field{color:#ccc;font-family:'yoon740', sans-serif;font-size:17px;}







